<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Space Game</title>
        <link rel="stylesheet" href="static/jquery-ui.min.css" type="text/css"/>
        <link rel="stylesheet" href="{{ static_url("character_select.css") }}" type="text/css"/>
        <script src="https://pixijs.download/v4.6.0/pixi.min.js"></script>
        <script src="static/js/keyboard.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/jquery-ui.min.js"></script>
        <script src="static/js/utils.js"></script>
        <script src="static/js/io.js"></script>
        <script src="static/js/gamestate.js"></script>
        <script src="static/js/circularArrayBuffer.js"></script>
        <script src="static/js/inputs.js"></script>
        <script src="static/js/components.js"></script>
        <script src="static/js/RenderSystem.js"></script>
        <script src="static/js/HealthRenderSystem.js"></script>
        <script src="static/js/physics.js"></script>
        <script src="static/js/PlayerServerUpdateSystem.js"></script>
        <script src="static/js/ServerUpdateSystem.js"></script>
        <script src="static/js/LocalPhysicsSystem.js"></script>
        <script src="static/js/ShootingSystem.js"></script>
        <script src="static/js/CameraFollowSystem.js"></script>
        <script src="static/js/AnimationStateSystem.js"></script>
        <script src="static/js/AnimationSystem.js"></script>
        <script src="static/js/BossAnnounceSystem.js"></script>
        <script src="static/js/MovementSystem.js"></script>
        <script src="static/js/InputSystem.js"></script>
        <script src="static/js/ExpirySystem.js"></script>
        <script src="static/js/ServerSyncSystem.js"></script>
        <script src="static/js/PCEUpdateSystem.js"></script>
        <script src="static/js/CollisionSystem.js"></script>
        <script src="static/js/CollisionMovementSystem.js"></script>
        <script src="static/js/MiningSystem.js"></script>
        <script src="static/js/MiningLaserRenderSystem.js"></script>
        <script src="static/js/BeamRenderSystem.js"></script>
        <script src="static/js/ProximitySystem.js"></script>
        <script src="static/js/RotateSystem.js"></script>
        <script src="static/js/PositionLerpSystem.js"></script>
        <script src="static/js/WaypointSystem.js"></script>
        <script src="static/js/MouseDrawSystem.js"></script>
        <script src="static/js/gameloop2.js"></script>
        <script src="static/js/weapons.js"></script>
        <script src="static/js/UI/shop_menu.js"></script>
        <script src="static/js/UI/upgrade_menu.js"></script>
        <script src="static/js/UI/inventory_menu.js"></script>
        <script src="static/js/UI/dialog_menu.js"></script>
        <script src="static/js/UI/map_menu.js"></script>
        <script src="static/js/UI/quest_menu.js"></script>
        <script src="static/js/quests/intro/script.js"></script>
        <script src="static/js/quests/intro/descriptions.js"></script>
        <script src="static/js/quests/breakout/script.js"></script>
        <script src="static/js/quests/breakout/descriptions.js"></script>

    </head>
    <body>

    <div id="gamestuff">

        <div class="encounter-outer">
            <div class="encounter-middle">
                <div class="encounter-inner">
                        <h1>LORE NAXRYMYSS</h1>
                        <p>Guardian of the netwish wormhole</p>
                </div>
            </div>
        </div>

        <div id="control_list" title="Controls">
          <p>Up Arrow key: Thrust</p>
          <p>Right/Left Arrow key: Turn</p>
          <p>F key: Shoot</p>
          <p>D key: Brake</p>
          <p>C key: Enter shop</p>
          <p>SPACE key: Mine from asteroids</p>
          <p>I key: View inventory</p>
          <p>U key: View and apply upgrades</p>
          <p>M key: View minimap</p>
          <p>Q key: View Quest status</p>
        </div>

        <div id='inv_menu' title="Inventory"><ul id='inv_list'></ul></div>

        <div id='map_menu' title="Map"><canvas id="map_canvas" width=250 height=250></canvas></div>

        <div id='upgrade_menu' title="Upgrades"><ul id='upgr_list'></ul></div>

        <div id='quest_menu' title="Quests"><ul id='quest_list'></ul></div>


        <div id='shop_menu' title="Shop">
            <div id="shop_tabs">
                <ul id='tabs'>
                    <li><a href="#shop_buy">Sell</a></li>
                    <li><a href="#shop_sell">Buy</a></li>
                </ul>
                <div id="shop_buy">
                    <ul id="shop_buy_list"></ul>
                    <label for="sell_all_check">Sell All
                        <input type="checkbox" name="sell_all_check" id="sell_all_check_1">
                    </label>
                </div>
                <div id="shop_sell">
                    <ul id="shop_sell_list"></ul>
                </div>
            </div>
            
            <div id="money"></div>
        </div>

        <div id='dialog_menu'>
            <div id='dialog_menu_content'></div>
            <div><button id='dialog_prev_button'>prev</button><button id='dialog_next_button' text="next"/>next</button> </div>

        </div>
    </div>

    <script type="text/javascript">


    


    window.onload = function() {


        var bg, stars, textures, gamestate;
        var frame = 0;

        var keys = {};
        
        var sprites = [];

        var serverState = {};

        var game_mode;
        var menu_mode;

        var mode;

        var is_menu = false;

        var size = [1200, 600];
        var ratio = size[0] / size[1];

        //Create the renderer
        var renderer = PIXI.autoDetectRenderer(size[0], size[1]);
        var stage; stage = new PIXI.Container();

        var inputs = new InputList();

        //renderer.view.id = "main_canvas"

        //Add the canvas to the HTML document
        $("#gamestuff")[0].appendChild(renderer.view);
        function resize() {
            if (window.innerWidth / window.innerHeight >= ratio) {
                var w = window.innerHeight * ratio;
                var h = window.innerHeight;
            } else {
                var w = window.innerWidth;
                var h = window.innerWidth / ratio;
            }
            renderer.view.style.width = w + 'px';
            renderer.view.style.height = h + 'px';
        }
        window.onresize = function(event) {
            resize();
        };
        resize();

        var inv_menu = new InventoryMenu();
        var upgr_menu = new UpgradeMenu();
        var shop_menu = new ShopMenu();
        var dialog_menu = new DialogMenu();
        var map_menu = new MapMenu();
        var quest_menu = new QuestMenu();

        var ctrl_menu = $("#control_list").dialog({
                position: { my: "right top", at: "right top", of: window }
        });


        // dialog_menu.open(quests.intro.script.stage2)

        PIXI.loader.add('static/assets/parallax-space-background2.png')
                   .add('static/assets/parallax-space-stars2.png')
                   .add('static/assets/ship.png')
                   .add('static/assets/ship_idle.png')
                   .add('static/assets/ship3.png')
                   .add('static/assets/missile.png')
                   .add('static/assets/boss.png')
                   .add('static/assets/laser-bolt.png')
                   .add('static/assets/spacestation1.png')
                   .add('static/assets/spacestation_overlay.png')
                   .add('static/assets/bolfenn.png')
                   .add('static/assets/asteroid.png')
                   .add('static/assets/planet2.png')
                   .add('static/assets/planet3.png')
                   .add('static/assets/planet4.png')
                   .add('static/assets/planet5.png')
                   .add('static/assets/target.png')
                   .add('static/assets/iron_ore_pickup.png')
                   .add('static/assets/silver_ore_pickup.png')
                   .add('static/assets/gold_ore_pickup.png')
                   .load(setup);

        

       


        
        

        function initSprite(id, type){
            
        }

        function setup() {
            
            
            keys.up = keyboard(38);
            keys.left = keyboard(37);
            keys.right = keyboard(39);
            keys.d = keyboard(68);
            keys.f = keyboard(70);
            keys.space = keyboard(32);
            

            // menu_mode = MenuState(shopMenu);
            // menu_mode.init();

            // inv_mode = MenuState(invMenu);
            // inv_mode.init();

            game_mode = GameLoop();
            game_mode.init(dialog_menu, size[0], size[1], inputs);

            // map_mode = MapState();
            // map_mode.init();

            mode = game_mode

            game_stage = mode.stage;
            stage.addChild(game_stage);


            keys.c = keyboard(67);
            keys.c.press = function() {
                if(!$("#shop_menu").dialog("isOpen")) {
                    $("#shop_menu").dialog("open"); 
                } else {
                    $("#shop_menu").dialog("close"); 
                }
            }

            keys.i = keyboard(73);
            keys.i.press = function() {
                if(!$("#inv_menu").dialog("isOpen")) {
                    $("#inv_menu").dialog("open"); 
                } else {
                    $("#inv_menu").dialog("close"); 
                }
            }

            keys.u = keyboard(85);
            keys.u.press = function() {
                if(!$("#upgrade_menu").dialog("isOpen")) {
                    $("#upgrade_menu").dialog("open"); 
                } else {
                    $("#upgrade_menu").dialog("close"); 
                }
            }

            keys.m = keyboard(77);
            keys.m.press = function() {
                if(!$("#map_menu").dialog("isOpen")) {
                    $("#map_menu").dialog("open"); 
                } else {
                    $("#map_menu").dialog("close"); 
                }
            }

            keys.q = keyboard(81);
            keys.q.press = function() {
                if(!$("#quest_menu").dialog("isOpen")) {
                    $("#quest_menu").dialog("open"); 
                } else {
                    $("#quest_menu").dialog("close"); 
                }
            }

            keys.esc = keyboard(27);
            keys.esc.press = function() {
                
            }



            requestAnimationFrame(update)
        }

        

        

        

        

        var sim_time= 0;
        
        var last_time = Date.now();
        var framecounter = 0
        

        
        

        

        

        function update() {

            requestAnimationFrame(update)
            // Sample clock to find start time
            var time = Date.now();
            sim_time = Math.min(time - last_time, 100);

            var unprocessed_input = mode.get_input(inputs, keys, time, sim_time);
            
            

            state = mode.get_state();

            state = mode.update(state, sim_time, unprocessed_input);

            // Render Scene
            mode.render(renderer, state, stage);
            // Sample clock to find end time
            last_time = time;
            
            mode.update_server();
            
        }
        
       

    };

    </script>

    </body>
</html>