<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>hello pixi!</title>
        <script src="https://pixijs.download/v4.6.0/pixi.min.js"></script>
        <script src="static/js/keyboard.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/js/utils.js"></script>
        <script src="static/js/io.js"></script>
        <script src="static/js/gamestate.js"></script>
        <script src="static/js/circularArrayBuffer.js"></script>
        <script src="static/js/camera.js"></script>
        <script src="static/js/inputs.js"></script>
        <script src="static/js/gameloop.js"></script>
        <script src="static/js/shopMenu.js"></script>
        <script src="static/js/invMenu.js"></script>
        <script src="static/js/menu.js"></script>
        <script src="static/js/map.js"></script>
        <script src="static/js/components.js"></script>
        <script src="static/js/RenderSystem.js"></script>
        <script src="static/js/LocalPhysicsSystem.js"></script>


    </head>
    <body>

    <script type="text/javascript">

    window.onload = function() {


        var bg, stars, textures, gamestate;
        var frame = 0;

        var keys = {};
        
        var sprites = [];

        var serverState = {};

        var game_mode;
        var menu_mode;

        var mode;

        var is_menu = false;

        //Create the renderer
        var renderer = PIXI.autoDetectRenderer(1200, 600);

        //Add the canvas to the HTML document
        document.body.appendChild(renderer.view);

        PIXI.loader.add('static/assets/parallax-space-background2.png')
                   .add('static/assets/parallax-space-stars2.png')
                   .add('static/assets/ship.png')
                   .add('static/assets/ship_idle.png')
                   .add('static/assets/laser-bolt.png')
                   .add('static/assets/spacestation1.png')
                   .add('static/assets/bolfenn.png')
                   .add('static/assets/asteroid.png')
                   .add('static/assets/planet2.png')
                   .add('static/assets/planet3.png')
                   .add('static/assets/planet4.png')
                   .add('static/assets/planet5.png')
                   .add('static/assets/target.png')
                   .add('static/assets/iron_ore_pickup.png')
                   .add('static/assets/silver_ore_pickup.png')
                   .add('static/assets/gold_ore_pickup.png')

                   .load(setup)

        
        
        
       
        function getTexturesFromSpritesheet(mySpriteSheetImage, count, rows, imgW, imgH){
            var textures = [];
            var countPerRow = Math.floor(count/rows);

            for(var i = 0; i < count; i++) {
                let x = (i % countPerRow) * imgW;
                let y = Math.floor(i/countPerRow) * imgH;
                let frame = new PIXI.Rectangle(x, y, imgW, imgH);
                let texture = new PIXI.Texture(mySpriteSheetImage, frame);
                textures.push(texture);
            }
            return textures
        }

        
        
        var entity_manager;
        var entity_components;
        var component_manager;
        var node_factory;
        var physics_system;
        var stage;
        var entities; 
        var render_system;
        var systems;
        var camera;
        var ship;

        function setup() {
            var ship_idle = PIXI.BaseTexture.fromImage("static/assets/ship_idle.png"); 
            
            keys.up = keyboard(38);
            keys.left = keyboard(37);
            keys.right = keyboard(39);
            keys.d = keyboard(68);
            keys.f = keyboard(70);
            keys.space = keyboard(32);

            entity_manager = new EntityManager();
            entity_manager.init();
            var entity_components = {};
            var component_manager = ComponentManager;
            component_manager.init(entity_components, components);

            node_factory = NodeFactory(entity_manager, component_manager);

            physics_system = new LocalPhysicsSystem(node_factory);
            
            stage = new PIXI.Container();
            entities = new PIXI.Container();
            stage.addChild(entities);

            render_system = new RenderSystem(node_factory, entities);

            systems = [physics_system, render_system];

            camera = node_factory.create_node({
                position:{x:0, y:0},
                camera: {}
            });

            ship = node_factory.create_node({
                position:{x:600, y:300},
                renderable:{
                    spritesheet: {default: getTexturesFromSpritesheet(ship_idle, 10, 2, 16, 24)}
                },
                "velocity": {x:0, y:0}, 
                "acceleration": {x:0, y:0}, 
                "force": {x:0, y:0},
                "thrust": {x:1, y:1},
                "rotation": {rotation:0},
                "mass": {mass:500},
                "player_controlled": {}
            });
            
            requestAnimationFrame(update)
        }

        

        

        

        

        var inputs = new InputList();
        
        
        function update() {

            requestAnimationFrame(update);

            let player = node_factory.create_node_list(["player_controlled", "position"])[0];
            player.add_or_attach("control", {"left": true, "right":false, "thrust":true, "dt":10});

            for(let i = 0; i < systems.length; i++) {
                systems[i].process();
            }

            renderer.render(stage);
        }
        
       

    };

    </script>

    </body>
</html>